In [1]:
# create a student dictionary

a={
    'Name':'Avery',
    'Age':17,
    'Grade':'A'
}
print(a)
print(a.keys())
print(a.values())

{'Name': 'Avery', 'Age': 17, 'Grade': 'A'}
dict_keys(['Name', 'Age', 'Grade'])
dict_values(['Avery', 17, 'A'])

In [8]:
#Merging 2 dictionaries
c={'ten':10,'twenty':20}
d={'thirthy':30,'forty':40}

print({**c,**d})

{'ten': 10, 'twenty': 20, 'thirthy': 30, 'forty': 40}

In [11]:
#from the given dictionary print value of science
stu={
    "class":{
        'Student':{
            'name':'mike',
            'grade':{
                'mathematics':76,
                'Science':61
            }
        }
    
    }
}
print(stu['class']['Student']['grade']['Science'])

61

In [12]:
#check if a value exists in a dictionary
dict1={'ten':10,'twenty':20,'thirty':30}
if 30 in dict1.values():
    print(True)

True

In [15]:
#rename key of a dictionary-city to location
dict2={
    'name':'Ben',
    'age':25,
    'salary':8000,
    'city':'singapore'
}
dict2['location']=dict2.pop('city')
print(dict2)

{'name': 'Ben', 'age': 25, 'salary': 8000, 'location': 'singapore'}